<!DOCTYPE html>
<html>
<head>
    <title>{% block name %}Home{% endblock %} - {% block sitename %}{{ browser_title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    {% if admin %}<link rel="stylesheet" type="text/css" href="/css/admin.css">{% endif %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="body">
        <div class="top_bar">
            <div class="top_bar_image">
                <a href="/">
                    <img src="{{ sidebar_image }}" alt="{{ sidebar_image_alt }}" />
                </a>
            </div>
            {% if admin %}
            <div class="admin_links">
                <div>
                    <a href="/admin">admin home</a>
                </div>
                <div>
                    <a href="/admin/config">configuration</a>
                </div>
                <div>
                    <a href="/logout">logout</a>
                </div>
            </div>
            {% endif %}
            <div class="header">
                <div>
                    <span class="title">
                        {% block title %}
                        {{ header_title }}
                        {% endblock %}
                    </span>
                    <span class="subtitle">
                        {% block subtitle %}
                        {{ header_subtitle }}
                        {% endblock %}
                    </span>
                </div>
            </div>
            <div class="header_links">
                <div class="link">
                    <a href="/">Home</a>
                </div>
                <div class="link">
                    <a href="/articles">Articles</a>
                </div>
                {% if page_list %}
                {% for page in page_list %}
                <div class="link">
                    <a href="/page/{{ page.title_path }}">{{ page.title }}</a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="main_content">
            {% block body %}

            {% endblock %}
        </div>
        {% block footer %}
        <div class="clear"></div>
        <div class="footer">
            {{ footer_text }}
        </div>
        {% endblock %}
        <div class="clear"></div>
    </div>

    <!-- Load scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>