{% extends "base.html" %}

{% block name %}Configure Settings{% endblock %}

{% block body %}
    <div class="main_body">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/admin/config" method="post">
            <h1>Personalize this Blog</h1>
            <p>
                Use the settings below to personalize the title, subtitle, and
                other personal bits that appear around this blog.
            </p>
            <div>
                <label>
                    <span class="input_title" title="The blog title is the title of this blog as it appears in the header.">
                        Blog Title
                    </span>
                    <input name="main_title" type="text" placeholder="Blog Title" class="text_input long_text" value="{{ header_title }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The blog subtitle is the subtitle of this blog as it appears in the header.">
                        Blog Subtitle
                    </span>
                    <input name="subtitle" type="text" placeholder="Blog Subtitle" class="text_input long_text" value="{{ header_subtitle }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The browser title is the name of the site as it appears in the browser title bar.">
                        Browser Title
                    </span>
                    <input name="browser_title" type="text" placeholder="Browser Title" class="text_input long_text" value="{{ browser_title }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The footer text is any text which appears in the footer on this blog.">
                        Blog Footer
                    </span>
                    <input name="footer_text" type="text" placeholder="Blog Footer Text" class="text_input long_text" value="{{ footer_text }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The image location is the location of the image on the server from the application root: {{ request.url_root }}. For example '/img/test.png' for an image at 'http://example.com/img/test.png'.">
                        Image Location
                    </span>
                    <input name="image_location" type="text" placeholder="Image Location on Server" class="text_input long_text" value="{{ sidebar_image }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The image alternate text is the text that will appear if there is no image to show.">
                        Image Alt Text
                    </span>
                    <input name="image_alt" type="text" placeholder="Image Alternate Text" class="text_input long_text" value="{{ sidebar_image_alt }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The page size is the number of articles which will appear on each page of this blog.">
                        Page Size
                    </span>
                    <select name="page_size" class="select_input">
                        <option value="1">1</option>
                        {% for i in range(5, 30, 5) %}
                            <option value="{{ i }}"{% if page_size == i %} selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    articles per page
                </label>
            </div>

            <h1>Session Settings</h1>
            <p>
                The settings below control session expiration and pruning. It is
                extremely unlikely that you should need to change any of these
                settings.
            </p>
            <div>
                <label>
                    <span class="input_title" title="The expiration age is the number of seconds after which a session will be considered expired.">
                        Expiration Age
                    </span>
                </label>
                <input name="session_expire" type="text" placeholder="Session Expiration" class="text_input" value="{{ session_expire }}" />
                seconds
            </div>
            <div>
                <label>
                    <span class="input_title" title="The prune age is the number of seconds after which the system will prune expired sessions from the database.">
                        Prune Age
                    </span>
                    <input name="session_prune_age" type="text" placeholder="Session Prune Age" class="text_input" value="{{ session_prune_age }}" />
                    seconds
                </label>
            </div>
            <div>
                <input name="submit" type="submit" class="button_input" value="Save Configuration" />
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/admin.js"></script>
{% endblock %}