{% extends "admin.html" %}

{% block name %}Configure Settings{% endblock %}

{% block body %}
    <div class="mainbody">
        <h2>Configure this Blog</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/admin/config" method="post">
            <h3>Personalize this Blog</h3>
            <p>
                Use the settings below to personalize the title, subtitle, and
                other personal bits that appear around this blog.
            </p>
            <div>
                <label>
                    <span class="input_title" title="The blog title is the title of this blog as it appears in the header.">
                        Blog Title
                    </span>
                    <input name="main_title" type="text" placeholder="Blog Title" class="text_input long_text" value="{{ header_title }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The blog subtitle is the subtitle of this blog as it appears in the header.">
                        Blog Subtitle
                    </span>
                    <input name="subtitle" type="text" placeholder="Blog Subtitle" class="text_input long_text" value="{{ header_subtitle }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The browser title is the name of the site as it appears in the browser title bar.">
                        Browser Title
                    </span>
                    <input name="browser_title" type="text" placeholder="Browser Title" class="text_input long_text" value="{{ browser_title }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The footer text is any text which appears in the footer on this blog.">
                        Blog Footer
                    </span>
                    <input name="footer_text" type="text" placeholder="Blog Footer Text" class="text_input long_text" value="{{ footer_text }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The sidebar blurb is the text which appears beneath the picture in the sidebar. This field allows Markdown.">
                        Sidebar Blurb
                    </span>
                    <textarea name="about_blurb" placeholder="Sidebar About Me Blurb" class="small_textarea_input">{{ sidebar_blurb_markdown }}</textarea>
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The image location is the location of the image on the server from the application root: {{ request.url_root }}. For example '/img/test.png' for an image at 'http://example.com/img/test.png'.">
                        Image Location
                    </span>
                    <input name="image_location" type="text" placeholder="Image Location on Server" class="text_input long_text" value="{{ sidebar_image }}" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The image alternate text is the text that will appear if there is no image to show.">
                        Image Alt Text
                    </span>
                    <input name="image_alt" type="text" placeholder="Image Alternate Text" class="text_input long_text" value="{{ sidebar_image_alt }}" />
                </label>
            </div>

            <h3>Display Settings</h3>
            <p>
                The display settings control various display aspects of the
                blog. Color values can be specified in any CSS3 compliant manner
                including hex and keyword values,
                <code style="white-space: nowrap;">rgb(r, g, b)</code>, and
                <code style="white-space: nowrap;">rgba(r, g, b, a)</code>. If
                you have specified a valid color value, then the input
                background color should change to your specified color.
            </p>
            <div>
                <label>
                    <span class="input_title" title="The page size is the number of articles which will appear on each page of this blog.">
                        Page Size
                    </span>
                    <select name="page_size" class="select_input">
                        <option value="1">1</option>
                        {% for i in range(5, 30, 5) %}
                            <option value="{{ i }}"{% if page_size == i %} selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    articles per page
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The background color refers to the background color of the site.">
                        Background Color
                    </span>
                    <input name="background_color" type="text" placeholder="Background Color" class="text_input long_text" value="" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The accent color refers to the color used for links and various accent locations such as the subtitle and footer text.">
                        Accent Color
                    </span>
                    <input name="accent_color" type="text" placeholder="Accent Color" class="text_input long_text" value="" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The alternate accent color is mostly used for hovering on link and button elements.">
                        Alt Accent Color
                    </span>
                    <input name="alternate_accent_color" type="text" placeholder="Alternate Accent Color" class="text_input long_text" value="" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The text color refers to the color of the text on this site.">
                        Text Color
                    </span>
                    <input name="text_color" type="text" placeholder="Text Color" class="text_input long_text" value="" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The font face is the exact name of the font to use for this site.">
                        Font Face
                    </span>
                    <input name="font" type="text" placeholder="Font Face" class="text_input long_text" value="" />
                </label>
            </div>
            <div>
                <label>
                    <span class="input_title" title="The font location refers to the URL of the font resource.">
                        Font Location
                    </span>
                    <input name="font_location" type="text" placeholder="Font Location" class="text_input long_text" value="" />
                </label>
            </div>

            <h3>Session Settings</h3>
            <p>
                The settings below control session expiration and pruning. It is
                extremely unlike that you should need to change any of these
                settings.
            </p>
            <div>
                <label>
                    <span class="input_title" title="The expiration age is the number of seconds after which a session will be considered expired.">
                        Expiration Age
                    </span>
                </label>
                <input name="session_expire" type="text" placeholder="Session Expiration" class="text_input" value="{{ session_expire }}" />
                seconds
            </div>
            <div>
                <label>
                    <span class="input_title" title="The prune age is the number of seconds after which the system will prune expired sessions from the database.">
                        Prune Age
                    </span>
                    <input name="session_prune_age" type="text" placeholder="Session Prune Age" class="text_input" value="{{ session_prune_age }}" />
                    seconds
                </label>
            </div>
            <div>
                <input name="submit" type="submit" class="button_input" value="Save Configuration" />
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/admin.js"></script>
{% endblock %}