{% extends "admin.html" %}

{% block name %}Admin Home{% endblock %}

{% block body %}
    <div class="mainbody">
        <h3>Article List</h3>
        {% if released or unreleased %}
        <p>Click an article title to edit it or <a href="/admin/create">write a new article.</a></p>
        <div class="article_list">
        {% for item in ({'Unreleased': unreleased}, {'Released': released}) %}
        {% for name, articles in item.items() %}
            {% if articles %}
            <h4>{{ name }} Articles</h4>
            <ul>
            {% for article in articles %}
                <li>
                    {% if article.title == "" %}
                    <a href="/admin/edit/{{ article.id }}">Untitled</a>
                    {% else %}
                    <strong>
                        <a href="/admin/edit/{{ article.id }}">{{ article.title }}</a>
                    </strong>
                    {% endif %}
                    written on <em>{{ article.date }}</em>
                    <span class="delete">
                        <span class="delete_question">
                            (<span class="fake_link delete_link">delete?</span>)
                        </span>
                        <span class="delete_confirmation">
                            (<a class="delete_yes" href="/admin/delete/{{ article.id }}">yes</a> or <span class="fake_link delete_no">no</span>)
                        </span>
                    </span>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </div>
        {% else %}
        <p class="error">
            It appears there are no articles here! You could always
            <a href="/admin/create">write</a> one though.
        </p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/admin.js"></script>
{% endblock %}