{% extends "admin.html" %}

{% block name %}Sidebar Links{% endblock %}

{% block body %}
    <div id="edit_links_template">

    </div>
    <div class="mainbody">
        <h3>Edit Sidebar Links</h3>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% else %}
            <p>Add a new sidebar link with the form below.</p>
        {% endif %}
        <div>
            <form action="/admin/links/add" method="post">
                <div>
                    <input type="text" name="article" placeholder="Article" class="long_text text_input" value="" />
                    <input type="text" name="external_link" placeholder="External Link" class="long_text text_input" value="" />
                </div>
                <div>
                    <input type="text" name="link_text" placeholder="Link Text" class="long_text text_input" value="" />
                    <input type="text" name="link_alt" placeholder="Link Alternate Text" class="long_text text_input" value="" />
                </div>
                <div>
                    <input type="submit" name="submit" class="button_input" value="Add New Link" />
                </div>
            </form>
        </div>
        {% if sidebar_links %}
        <div class="links_edit">
            <p>
                View the current sidebar links or remove a link using the
                listed links below.
            </p>
            <ul>
            {% for link in sidebar_links %}
                <li>
                {% if link.article_title %}
                    <a href="/post/{{ link.article_id }}" title="{{ link.link_alt }}" target="_blank">{{ link.article_title }}</a>
                {% else %}
                    <a href="{{ link.external_link }}" title="{{ link.link_alt }}" target="_blank">{{ link.link_text }}</a>
                {% endif %}
                    <span class="delete">
                        <span class="delete_question">
                            (<span class="fake_link delete_link">delete?</span>)
                        </span>
                        <span class="delete_confirmation">
                            (<a class="delete_yes" href="/admin/links/delete/{{ link.link_id }}">yes</a> or <span class="fake_link delete_no">no</span>)
                        </span>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/admin.js"></script>
{% endblock %}